<h1>Contactos</h1>
<div id="ubi">
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=-16.528923621584468~-68.22406768798828&lvl=12&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
       <a id="largeMapLink" target="_blank" style="color: white;" href="https://www.bing.com/maps?cp=-16.528923621584468~-68.22406768798828&amp;sty=r&amp;lvl=12&amp;FORM=MBEDLD">Ver mapa más grande</a> &nbsp;  &nbsp;
       <a id="dirMapLink" target="_blank" style="color: white;" href="https://www.bing.com/maps/directions?cp=-16.528923621584468~-68.22406768798828&amp;sty=r&amp;lvl=12&amp;rtp=~pos.-16.528923621584468_-68.22406768798828____&amp;FORM=MBEDLD">Obtener indicaciones</a>
   </div>
   <h3>Mensaje o sugerencias</h3>
   <textarea name="" id="" cols="80" rows="10"></textarea>
</div>

<br><br><br>
<footer>
  <a href="">Facebook</a>
  <a href="">Intagram</a>
  <a href="">Twitter</a>
</footer>
