#ubi{
    text-align: center;
}
#ubi1{
    text-align: center;
    align-items: center;
}
h1{
    text-align: center;
}
a{
    text-align: center;
    margin-left: 350px;
    color: tomato;
}
footer{
    margin-right: 200px;
    text-align: left;
}