<h2>Productos</h2>
    <div id="c1">
        <p>Chocolate con relleno de frutilla</p>
        <img src="https://th.bing.com/th/id/OIP.AgM1y3fCbpXfynXlmYZp2QHaEQ?pid=ImgDet&rs=1" alt="">
        <p>Precio por unidad Bs: 3 </p>
        <p>Precio por docena Bs: 33 </p>
   
        <p>Chocolate blanco</p>
        <img src="https://th.bing.com/th/id/OIP.qygMS4Qw-9UKYjimnqwlnAHaEv?pid=ImgDet&rs=1" alt="">
        <p>Precio por unidad Bs: 7 </p>
        <p>Precio por docena Bs: 79 </p>

        <p>Chocolate con almendras</p>
        <img src="https://th.bing.com/th/id/OIP.Euw0JfKmLrzk94T9LtO07QHaF4?pid=ImgDet&rs=1" alt="">
        <p>Precio por unidad Bs: 4 </p>
        <p>Precio por docena Bs: 40 </p>
    </div>



