#f1{
    text-align: center;
    align-items: center;
}
h1{
    text-align: center;
}
input{
    border-color: tomato;
}
img{
    width: 350px;
    height: 350px;
}
table{
    align-self: center;
    border-color: darksalmon;
}
button{
    size: 20px;
    background-color: tomato;
    color: white;
    border-radius: 3px;
}
