<h1>Bienvenido</h1>
<h2>Producto estrella</h2>
<div id="pe">
    <h3>Chocolate con relleno de frutilla</h3>
    <img src="https://th.bing.com/th/id/OIP.AgM1y3fCbpXfynXlmYZp2QHaEQ?pid=ImgDet&rs=1" alt="">
    <h1>A tan solo Bs 3 la unidad!</h1>
</div>

<div class="boxesContainer">
 
  <div class="cardBox">
    <div class="card">
        <div class="back">
            <h2>Nosotros</h2>
          </div>
      <div class="front">
       <h1>Dentro la cadena productiva agro industrial del cacao orgánico y otros productos. Bajo 
           criterios de sostenibilidad económica, social y medio ambiental. Satisfaciendo las necesidades 
           de sus asociados y productores del rubro, con autogestión propia bajo la filosofía del cooperativismo.</h1>
      </div>
    </div>
  </div>
 
</div>
